<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa fa-bars"></i>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <a class="navbar-brand mt-2 mt-lg-0" href="#">
        <img src="./assets/icons/dog--v2.png" height="32" alt="" loading="lazy" />
      </a>

      <!-- <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/salon/inspection/list">Grooding Inspections</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/salon/inspection/new">Add Grooding</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/salon/inspection/edit">Edit Grooding</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/salon/inspection/details">Details Grooding</a>
        </li>
      </ul> -->

    </div>

    <div class="d-flex align-items-center">
      <a class="dropdown-item" (click)="logout()">Logout&nbsp;<small>({{fullname}})</small>&nbsp;<i class="fa fa-user"></i>&nbsp;</a>
    </div>
  </div>
</nav>