<h1 class="p-2">Grooming Salon Inspection</h1>
<div class="row">
    <div class="col-2">
        <a (click)="openModal('create')" class="btn btn-sm btn-success mx-2 mb-2">Add New <i class="fa fa-plus"
                aria-hidden="true"></i></a>
        <a (click)="onClear()" class="btn btn-sm btn-secondary mx-2 mb-2">Clear</a>
    </div>
    <div class="col-4">
        <div class="input-group">
            <input type="text" id="search-text" class="form-control" name="searchText" aria-describedby="search-text"
                [(ngModel)]="searchText" placeholder="Enter Owner's name for filter" autocomplete="off" autofocus
                onfocus="this.value=''">
        </div>
    </div>
    <div class="col-3">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Enter date from for filter" [minDate]="minDate"
                [maxDate]="maxDate" #dp="bsDatepicker" bsDatepicker [(ngModel)]="fromDate">
        </div>
    </div>
    <div class="col-3">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Enter date to for filter" [minDate]="minDate"
                [maxDate]="maxDate" #dp1="bsDatepicker" bsDatepicker [(ngModel)]="toDate">
            <button class="btn btn-secondary" (click)="filterDate()"><i class="fa fa-filter"></i></button>
        </div>
    </div>
</div>

<table class="table table-striped" *ngIf="inspections | async as inspections">
    <thead>
        <tr>
            <th></th>
            <th>Appointment</th>
            <th>Pet Name</th>
            <th>Pet Type</th>
            <th>Owner's Name</th>
            <th>Services</th>
            <th>Veterinarian Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let inspect of inspections | filter: 'OwnerName': searchText">
            <td>
                <a *ngIf="currentUser==inspect.OwnerId" (click)="openModal('view',inspect)">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                </a>
            </td>
            <td>{{inspect.Appointment}}</td>
            <td>{{inspect.PetName}}</td>
            <td>{{inspect.PetTypeName}}</td>
            <td>{{inspect.OwnerName}}</td>
            <td>{{inspect.ServiceName}}</td>
            <td>{{inspect.VeterinarName}}</td>
            <td style="white-space: nowrap">
                <a *ngIf="currentUser==inspect.OwnerId" (click)="openModal('edit',inspect)"
                    class="btn btn-sm btn-primary mr-1">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </a>&nbsp;
                <a *ngIf="currentUser==inspect.OwnerId" class="btn btn-sm btn-danger"
                    (click)="openModal('confirm', inspect)">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                </a>
            </td>
        </tr>
        <tr *ngIf="!inspections">
            <td colspan="4" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
    </tbody>
</table>